

*{
  font-family: monospace;
}

body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background: url(greybackground.jpg);
  background-attachment: fixed;
}


header{
  position:relative;
  max-width:1200px;
  margin: 20px auto;
  padding:10px;
  background:grey;
  box-sizing: border-box;
  border-radius:4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}


nav{
  float:right;
}

.clearfix{
  clear:both;
}



nav ul{
  margin:0;
  padding:0;
  display:flex;
}

nav ul li{
list-style: none;
}

nav ul li a{
  display:block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: monospace;
}

nav ul li a.active,nav ul li a:hover{
  background:black;
  color:white;
  transition: 0.5s;
}


@media (min-width:1068px){
  .dropbtn{
    display:none;
  }
}

@media (max-width:1200px){
  header{
    margin:20px;
  }
}

@media (max-width:1068px){



.toggle:before{
  content: '';
  line-height:40px;
}

.toggle.active:before{
  content:'*'
}

nav{
  display:none;
}

.toggle{display:none;}


nav.active{
  display:block;
  width:100%;
}

nav.active ul{
  display:block;
}

nav.active ul{
  margin:0;
}
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 26px;
  border: none;
  cursor: pointer;
  align-self: center;
  background-color: black;
  float:right
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
  color:black
}

/* The container <div> - needed to position the dropdown content */
.toggle {
  position: relative;
  display: inline-block;
  float:right;
  font-family:monospace;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top:55px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
  font-family:monospace;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: monospace;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.gridbuttonlayout{
  display:grid;
  width:30%;
  grid-gap: 40px;
  margin-left: 50%;
  margin-top:50px;



}
.gridbutton{
  font-family:monospace;
  font-size:28px;
  cursor:pointer;
  text-align: center;
  padding:30px;
  font-weight: bold;
  display:inline;
  border-radius: 25px;
  border-width: thick;


}

.gridbutton:hover{
  box-shadow: 0px 15px 20px black;

  transition: 0.5s;
}

.reportsbutton{
  font-family:monospace;
  font-size:28px;
  cursor:pointer;
  text-align: center;
  padding:30px;
  font-weight: bold;
  display:inline;
  float:left;
  margin-left: 15%;
  width:30%;
  margin-top:80px;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 25px;

}
.reportsbutton:hover{
  background-color:white;

  background-image: url(reportbuttonbackground.jpg);
  transition:0.5s;
  cursor:pointer;

  box-shadow: 0px 15px 20px black;
}


#incomebutton:hover{
  background-image: url(incomebuttonbackground.png);

}

#expenditurebutton:hover{
  background-image: url(expenditurebuttonbackground.png);
}

#accountbutton:hover{
  background-image: url(accountbuttonbackground.png);
}
