<!DOCTYPE html>
<html>
<head>
  <title>
    BudgetBuddy
    </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" href="stylesheet.css">
<script src="budgetbuddy.js"></script>
</head>



<header>
  <img src="images/budgetbuddylogo.jpg" class="logo" width="230px">
  <div class="toggle">
  <button onclick="dropdownFunction()" class="dropbtn">Find Page:</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="homepage">Get Started</a>
    <a href="income">Income</a>
    <a>Expenditure</a>
    <a href="report">Reports</a>
    <a href="/">Sign Out</a>
</div>
</div>
  <nav>
    <ul>
      <li><a href="homepage">Get Started</a></li>
      <li><a href="income">Income</a></li>
      <li><a href="" class="active">Expenditure</a></li>
      <li><a href="report">Reports</a></li>
      <li><a href="/">Sign Out</a></li>
  </ul>
</nav>
<div class="clearfix"></div>
</header>
<body>
<!--  <button class="reportsbutton" onclick=window.location.href="reports.html">View<br>Reports</button>
  <div class="expinfo">
    <h2>Expenditure Page</h2>
    <p>Welcome to the expenditure page.</p>
    <p>To enter an ammount that you have spent, click on <strong>Declare Expenditure.</strong></p>
    <p> This will link you to a form regarding the purchase details and the amount. </p>
    <p>This amount will link up to your very own financial history table.</p>
    <p>To track your financial history, simply click on <strong>Financial History.</strong></p>
    </div>
  <div class="expendituregrid">
  <button class="expgridbutton" id="declareexpediture" onclick=window.location.href="expenditureform.html">Declare<br>Expenditure</button>
  <button class="expgridbutton" id="financialhistory" onclick=window.location.href="financialhistory.html">Financial<br>History</button>
</div>
-->
<form class="expenditureform" id="myForm">
  <h2>Declare new Expenditure</h2>
  <p>----------------------------------------------------------------- </p>
  <div class="expenditureamount">
  <label for="expenditureamount">Expenditure amount (in £)</label>
  <input type="number" id='ammount' name='ammount' value="-0" step=".01">
</div>
<br>
<p>---------------------------------------------------------- </p>


         <div class="option">
           <input type="radio" class="radio" id="groceries" name="category" value="Groceries">
           <label for="groceries">Groceries</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="rent" name="category" value="Rent" >
           <label for="rent">Rent</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="bills" name="category" value="Bills" >
           <label for="bills">Bills</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="luxury" name="category" value="Luxury" >
           <label for="luxury">Luxury Spend</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="friend" name="category" value="Friend">
           <label for="friend">Payment from a friend</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="direct" name="category" value="Direct Debit">
           <label for="direct">Direct Debit</label>
         </div>

         <div class="option">
           <input type="radio" class="radio" id="other" name="category" value="Other">
           <label for="other">Other</label>
         </div>
       

 <p></p><p></p>
 <br>
 <br>
 <br>
 <br>
 <br>

 <p>----------------------------------------------------------------- </p>
 <input type='date' name='date'></input>
<br>
<br>
<button type="submit" value="submit">Submit</button>
</form>

  <script src="typedropdown.js"></script>
  <script>
    const myForm = document.getElementById('myForm');
  
    myForm.addEventListener('submit', function (e){
    e.preventDefault();
  
    const formData = new FormData(this);
    const searchParams = new URLSearchParams();
  
    for (const pair of formData){
      searchParams.append(pair[0], pair[1])
    }
  
    fetch('/expenditure', {
      method: 'post',
      body: searchParams
  
    }).then(function(response){
      return response.text();
    })
  
  
  
  });
  
    </script>
</body>
</html>
