<!DOCTYPE html>
<html>

<head>
  <title>
    BudgetBuddy
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet.css">

  <script src="budgetbuddy.js"></script>
  <script src="materialize.js"></script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content=1010858472376-iljq2hd7cgai5mddju8rmhmmuvcdtges.apps.googleusercontent.com>

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>


<header>
  <img src="images/budgetbuddylogo.jpg" class="logo" width="230px">
  <div class="toggle">
  <button onclick="dropdownFunction()" class="dropbtn">Find Page:</button>
  <div id="myDropdown" class="dropdown-content">
    <a>Get Started</a>
    <a href="income">Income</a>
    <a href="expenditure">Expenditure</a>
    <a href="report">Reports</a>
    <a href="#" onclick="signOut();">Sign out</a>
</div>
</div>
  <nav>
    <ul>
      <li><a class="active">Get Started</a></li>
      <li><a href="income">Income</a></li>
      <li><a href="expenditure">Expenditure</a></li>
      <li><a href="report">Reports</a></li>
      <li><a href="/">Sign Out</a></li>
  </ul>
</nav>
</header>
<body>

<div>
<h1>Hi, your current balance is at:</h1>
<h1>£<%= value %></h1>
</div>

</body>

</html>
