/* Navbar container */

*{
font-family:helvetica,sans-serif;;
}

body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background: url(images/greybackground.jpg);
  background-attachment: fixed;
}


header{
  position:relative;
  max-width: 100%;
  margin: 20px auto;
  padding:10px;
  font-family: 'Roboto';
  box-sizing: border-box;
  border-radius:4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  background-color: #ee6e73;
  color:white;
}


nav{
  float:right;
}

.clearfix{
  clear:both;
}



nav ul{
  margin:0;
  padding:0;
  display:flex;
}

nav ul li{
list-style: none;
}

nav ul li a{
  display:block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;;
  font-size: 22px;

}

nav ul li a.active,nav ul li a:hover{
  background:#de3c3c;
  color:white;
  transition: 0.5s;
}


@media (min-width:1068px){
  .dropbtn{
    display:none;
  }
}

@media (max-width:1200px){
  header{
    margin:20px;
  }
}

@media (max-width:1068px){



.toggle:before{
  content: '';
  line-height:40px;
}

.toggle.active:before{
  content:'*'
}

nav{
  display:none;
}

.toggle{display:none;}


nav.active{
  display:block;
  width:100%;
}

nav.active ul{
  display:block;
}

nav.active ul{
  margin:0;
}
}

/* Dropdown Button */
.dropbtn {
  background-color: #f04646;
  color: white;
  padding: 16px;
  font-size: 26px;
  border: none;
  cursor: pointer;
  align-self: center;

  float:right
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #ff8091;
  color:white;
}

/* The container <div> - needed to position the dropdown content */
.toggle {
  position: relative;
  display: inline-block;
  float:right;



}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top:55px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ff7083;
color:white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.gridbuttonlayout{
  display:grid;
  width:30%;
  grid-gap: 40px;
  margin-left: 50%;
  margin-top:50px;



}
.gridbutton{
  font-family:monospace;
  font-size:28px;
  cursor:pointer;
  text-align: center;
  padding:30px;
  font-weight: bold;
  display:inline;
  border-radius: 25px;
  border-width: thick;


}

#incomebutton:hover{
  box-shadow: 0px 15px 20px green;

  transition: 0.5s;
}

#expenditurebutton:hover{
  box-shadow: 0px 15px 20px red;

  transition: 0.5s;
}

#accountbutton:hover{
  box-shadow: 0px 15px 20px black;

  transition: 0.5s;
}

.reportsbutton{
  font-family:monospace;
  font-size:28px;
  cursor:pointer;
  text-align: center;
  padding:30px;
  font-weight: bold;
  display:inline;
  float:left;
  margin-left: 15%;
  width:30%;
  margin-top:80px;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 25px;

}
.reportsbutton:hover{
  background-color:white;

  background-image: url(images/reportbuttonbackground.jpg);
  transition:0.5s;
  cursor:pointer;


  box-shadow: 0px 15px 20px black;
}


#incomebutton:hover{
  background-image: url(images/incomebuttonbackground.png);

}

#expenditurebutton:hover{
  background-image: url(images/expenditurebuttonbackground.png);
}

#accountbutton:hover{
  background-image: url(images/accountbuttonbackground.png);
}

.expendituregrid{


  display:inline-block;
  margin-left:175px;


}

  .expgridbutton{
    font-family:monospace;
    font-size:22px;
    cursor:pointer;
    text-align: center;
    padding:50px;
    font-weight: bold;
    display:inline;
    border-radius: 25px;
    border-width: thick;


  }

  .expgridbutton:hover{
    box-shadow: 0px 15px 20px black;

    transition: 0.5s;
  }


@media(max-width:1210px){
  .expendituregrid{
    width:auto;
    display:grid;
    grid-gap:30px;
    padding:10px;

  }
  .expgridbutton{
    padding:40px;
  }
}


#declareexpediture:hover{
  box-shadow: 0px 15px 20px red;
  transition: 0.5s;
}

#declareincome:hover{
  box-shadow: 0px 15px 20px green;
  transition: 0.5s;
}

.expinfo{
  text-align: center;
  width:auto;
  margin-top: 70px;
  padding:20px;
  font-size: 14px;
}


#container a{
  font-size:13px;

}

.login{
  background-color: #ee6e73;
  color:white;
  margin: 0 auto;
  width:250px;
  padding:40px;
  height:420px;
  margin-top: 80px;
}

#loginform{
  width:240px;
  text-align:center;
  padding-top: 10px;

}

#loginform p{
  padding-top: 1px;
}

#loginform input{
  width:240px;
  text-align: center;
  border:none;
  border-bottom: 1px solid white;
  font-family: monospace;
  font-size:16px;
  font-weight:200px;
  padding:10px 0;
  transition: border 0.5s;
  outline: none;
  color:black;

}

#loginform input[type=button]{
  border:none;
  width:190px;
  background:white;
  color:black;
  font-size:16px;
  line-height:25px;
  padding:10px 0;
  border-radius:15px;
  cursor:pointer;

}

#loginform input[type=button]:hover{
  color:white;
  background:#ee6e73;
}

#container{
  display:flex;
  flex-direction: row;
  width:100%;
  padding-top: 50px;
}

#loginform a{
  color:white;
  padding:5px;
}

.signup{
  padding:40px;
  width:250px;
  margin:auto;
  margin-top:80px;
  height:430px;
  margin-left:180px;
  margin:0 auto;
  margin-top:90px;
  background:#ee6e73;
  color:white;
}

.signup form{
  width:240px;
  text-align: center;
}

.signup input{
  width:240px;
  text-align: center;
  border: none;
  border-bottom:1px solid black;
  font-family:16px;
  font-weight:200px;
  padding:10px 0;
  transition: border 0.5s;
  outline:none;
  color:black;
}

.signup input[type=button]{
  border:none;
  width:190px;
  background:white;
  color:black;
  font-size:16px;
  line-height: 25px;
  padding:10px 0;
  border-radius: 15px;
  cursor:pointer;
}

.signup input[type=button]:hover{
  color:white;
  background-color: #ee6e73;
}

.signup a{
  color:white;
  font-weight: bold;
}

.date-picker {
	position: relative;
	width: 100%;
	max-width: 160px;
	height: 30px;
	background-color: #FFF;
	display: inline-block;
  float: right;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color:black;
	cursor: pointer;
	user-select: none;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;

}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
font-size: 16px;
	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
  font-size: 16px;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
  font-size: 12px;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 10px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
  font-size: 10px;
}

.date-picker .dates .month .arrows:active {
	background-color: #00CA85;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 150px;
  font-size: 10px;
}
.date-picker .dates .days .day {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
	background-color: #00CA85;
}

.dateofpurchase{
  display: inline;
  margin-top: 50px;


}
.incomeform{


  padding:20px;
  width:350px;
  margin:auto;
  margin-top:80px;
  height:430px;



  background:#ee6e73;
  color:white;
}

.incomeform label{

  text-align: : left;
}

.incomeform select{
  float: right;
  width:160px;
}
